body {
    font-family: 'Times New Roman', Times, serif;
}

#container {
    padding: 10px;
    width: 1000px;
    height: 80%;
    background-color: #9900ff;
}

#track {
    width: 600px;
    border-top: 3px dotted white;
    border-bottom: 3px dotted white;
    margin: 30px auto;
}

#train {
    height: 92px;
    width: 100px;
    position: relative;
    left: 0px;
}

#stopButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}