body {
    font-family:"Comic Sans MS";
    background-color: rgb(181, 102, 255);
}
#buttonBox {
    margin-top: 30px;
}
#thingToDo {
    margin-top: 20px;
    background-color: rgb(255, 0, 0);
}