body {
    font-family:"Comic Sans MS";
    background-color: rgb(181, 102, 255);
    text-align: center;
}
#buttonBox {
    margin-top: 30px;
}
#thingToDo {
    margin-top: 20px;
    background-color: rgb(255, 0, 0);
    border-style: groove;
}
#container {
    border-style: dashed;
    border-color: rgb(251, 255, 0);
    background-color: rgb(146, 153, 255);
}